/*RESET STYLE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*END RESET STYLE*/


/* MAIN LAYOUT */

body {
    font:14px Arial,sans-serif;
    top:0;
    bottom:0;
    right: 0;
    width: 100%;
    height: 100%;
    position:absolute;
}

.navigation{
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;*/
    height: 100px;
}

.container {    
    background-color: #fcefa1;
}
/* END MAIN LAYOUT */

/*Fragment title.jspf*/
.title {
    margin: 50px;
}

.title > h1 {
    font-size: 40px;
    font-weight: bold;
}

.title > h2 {
    font-size: 30px;
    font-style: italic;
}



/*Fragment top.jspf*/
.navigation > .logo {
    margin-left: 30px;
    float: left;
    line-height: 100px;
}

.navigation > .logo img {
    vertical-align: middle;
}

.navigation > .items {
    line-height: 100px;
    margin-right: 30px;
    float:right;
}

.navigation .logged-user img {
    vertical-align: middle;
}

/* login.jsp */
.login{    
    width: 100%;
    text-align: center;
}

/*signup.jsp*/

.signUpDiv {

}

/*edituser.jsp*/
.editUserDiv {

}

/*tasks.jsp*/

.container > .categories {
    background-color: blue;
    width: 150px;
} 

.container > .categories > .private-filter {

}

.container > .categories > .categories-filter {

}

.container > .tasks {
    background-color: red;    
    width: 100%;
}

.container > .tasks  .users-bar {
    background-color: yellowgreen;
    height:50px;
}

.container > .tasks  .add-bar {
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    background-color: yellow;
}

.container > .tasks  .days-list {
    background-color: orange;
}

.container > .tasks  .days-list > .filters {
    background-color: aqua;
    padding:20px;
}

.container > .tasks  .days-list .timeline {
    overflow-x:auto;
    padding:10px;
    background-color: yellow;
}

.container > .tasks  .days-list .timeline > .day {
    margin: 0 5px;
    width: 300px;    
    background-color: pink;
}


.container > .tasks  .days-list .timeline > .day > .task-list {
    overflow-y: auto;
}

/*POP-UP ADD TASK*/

/* COMMON RULES */

.row {}


#edit-task-popup {

}

.horizontal-box {
    display: flex;
    flex-direction: row;
}

.vertical-box {
    display: flex;
    flex-direction: column;
}


.fixed-box-pack {
    flex: 0 0 auto;
}

.fill-box-pack {
    flex: 1 1 100%;
}
