/*RESET STYLE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*END RESET STYLE*/


/* MAIN LAYOUT */

body {
    font:14px Arial,sans-serif;
}

.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
}

.content {
    overflow:auto;
    background-color: #fcefa1;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    top:100px;
}
/* END MAIN LAYOUT */

/*Fragment title.jspf*/
.title {
    margin: 50px;
}

.title > h1 {
    font-size: 40px;
    font-weight: bold;
}

.title > h2 {
    font-size: 30px;
    font-style: italic;
}



/*Fragment top.jspf*/
.navigation > .logo {
    margin-left: 30px;
    float: left;
    line-height: 100px;
}

.navigation > .logo img {
    vertical-align: middle;
}

.navigation > .items {
    line-height: 100px;
    margin-right: 30px;
    float:right;
}

.navigation .logged-user img {
    vertical-align: middle;
}

/* login.jsp */
.login{    
    width: 100%;
    text-align: center;
}

.applet{
    width: 270px;
    height: 110px;
}

/*signup.jsp*/

.signUpDiv {

}

/*edituser.jsp*/
.editUserDiv {

}

/*tasks.jsp*/

.container {
    width: 100%;
    height: 100%;
}

.container > .categories {
    background-color: blue;
    width: 150px;
    height: 100%;
} 

.container > .categories > .private-filter {

}

.container > .categories > .categories-filter {

}

.container > .tasks {
    background-color: red;
    width: 100%;
}

.container > .tasks  .users-bar {
    background-color: yellowgreen;
}

.container > .tasks  .add-bar-wrapper {
    
}

.container > .tasks  .add-bar {
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    text-align: center;
    background-color: yellow;
}

.container > .tasks  .task-list {
    background-color: orange;
}

.container > .tasks  .task-list > .filters {
    background-color: aqua;
    padding:20px;
}

.container > .tasks  .task-list  > .timeline {
    overflow-x:auto;
}

.container > .tasks  .task-list > .timeline > .day {
    margin:10px;
    background: fuchsia;
    min-height: calc(100% - 45px);
}

.container > .tasks  .task-list > .timeline > .day > .task {

}

.row {}

/*POP-UP ADD TASK*/

#edit-task-popup {

}

.vertical-box{
    height:100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    -webkit-box-align: stretch;
    -moz-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
}

.horizontal-box{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
}
.fixed-box-pack {
-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
}

.fill-box-pack {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
}